<html>
<head>
    <title>ML Project</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/models.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</head>

<body class="bg" src='../static/styles/assets/homebg.jpg'>
    <div class="col-md-12">
        <h1>Welcome to League of Legend Win Prediction!</h1>
    </div>
    <form action="{{url_for('predict')}}" method="POST">
        
        <img class="row" src="../static/styles/assets/league_nice.png">

            <div class="left-col">
                
                <span class="redTop"> <!-- {{ form.csrf_token }} --> {{ form.redTopChamp }} </span>
                <span class="redJG"> {{ form.redJungleChamp }} </span>
                <span class="redMid"> {{ form.redMiddleChamp }} </span>
                <span class="redAD"> {{ form.redADCChamp }} </span>
                <span class="redSup"> {{ form.redSupportChamp }} </span>
            
            </div>

            <span class="right-col">

                <span class="blueTop"> {{ form.blueTopChamp }} </span>
                <span class="blueJG"> {{ form.blueJungleChamp }} </span>
                <span class="blueMid"> {{ form.blueMiddleChamp }} </span>
                <span class="blueAD"> {{ form.blueADCChamp }} </span>
                <span class="blueSup"> {{ form.blueSupportChamp }} </span>

                                
                <span class="rkills"> {{ form.rKills }} </span>
                <span class="rDragons"> {{ form.rDragons }} </span>
                <span class="rHeralds"> {{ form.rHeralds }} </span>
                <span class="rTowers"> {{ form.rTowers }} </span>

                {% if isIndex %}
                <input type="text" name="GoldDiff" placeholder ="Gold Difference"style="text-align: center; position: absolute" required="required"/>
                {% endif %}

            </div>

            {% if is_pred %}
            <img src="../static/styles/assets/lolbutton.png" class="lolbutton">
            <div class="result">
                {{prediction_text}}
            </div>
            {% endif %}

        </div>
        <div class="col-md-12">
        {% if not is_pred %}
        <div class="btn">
            <button type="submit" class="btn btn-primary" style="font-size: 25px;">Predict!</button>
        </div>
        {% endif %}
    </form>
    {% if is_pred %}
    <form action="{{url_for('home')}}" method="POST">
        <div class="btn">
            <button type="submit" class="btn btn-primary" style="font-size: 25px;">Go back!</button>
        </div>
    </form>
    {% endif %}
    </body>
</html>