*{
    margin: 0 auto;

}
.row{
    height: 100vh;
    width: 100%;
    background-image: url("mainbackground.png");
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
}
.col-md-12{
    font-style: italic;
    text-align: center;
    font-size: x-large;
}
.input{
    width: 50%;
    column-count: 2;
}

.btn{
   margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
.result{
     text-align: center;
    font-size: x-large;
}
.left-col{
    width: 50%;
    float: left;
    padding-left: 300px;

}

.right-col{
    width: 50%;
    float: left;
    padding-left: 150px;
}