* {
    margin: 0 auto;
}

.bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 0
}

.main_title {
    font-size: 35px;
    text-align: center;
    color: aliceblue;
    font-style: bold;
    position: relative;
    z-index: 1;
    top: 30px;
}

.class_title {
    font-size: 10;
    text-align: center;
    color: aliceblue;
    font-style: bold;
    position: relative;
    z-index: 1;
    top: 30px;
}

.sub_title {
    font-size: 25px;
    text-align: center;
    color: aliceblue;
    font-style: bold;
    position: relative;
    z-index: 2;
    top: 60px;
}

.students {
    font-size: 18px;
    text-align: center;
    color: aliceblue;
    font-style: bold;
    position: relative;
    z-index: 1;
    top: 70px;
}

.zoe {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    height: 10%;
    width: 10%;
}

.textbox {
    position: absolute;
    z-index: 1;
    left: 16%;
    width: 67%;
    height: 35%;
}

.model1button {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 1;
    display: block;
    left: 300px;
    top: 400px;
    height: 10%;
    width: 20%;
    font-size: 50px
}

.model2button {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 1;
    display: block;
    right: 300px;
    top: 400px;
    height: 10%;
    width: 20%;
}

.button_text {
    font-size: 35px;
    text-align: center;
    color: aliceblue;
    font-style: bold;
    position: absolute;
    z-index: 2;
    top: 730px;
    left: 320px;
}

.button_text_2 {
    font-size: 35px;
    text-align: center;
    color: aliceblue;
    font-style: bold;
    position: absolute;
    z-index: 2;
    top: 730px;
    right: 355px;
}