body {
    height: 100%;
    width: 100%;
    overflow: auto;
  }

#container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

* {
    margin: 0 auto;
}

.bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 0
}

.row {
    height: 120vh;
    width: 101%;
    background-size: cover; 
    box-sizing: border-box;
    position: relative;
}

.bg {
    height: 100vh;
    width: 100%;
    background-image: url("assets/mainbackground.png");
    background-size: cover;
    box-sizing: border-box;
    position: absolute;
}

.col-md-12 {
    font-style: italic;
    text-align: center;
    font-size: x-large;
}

.input {
    width: 50%;
    column-count: 2;
}

.btn {
    margin: 0;
    position: absolute;
    width: 200;
    height: 50;
    top: -200%;
    left: 84.1%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.left-col {
    width: 50%;
    float: left;
    padding-left: 300px;
}

.right-col {
    width: 50%;
    float: left;
    padding-left: 150px;
}

.redTop {
    position: absolute;
    top: 29%;
    left: 8.5%;
}

.redJG {
    position: absolute;
    top: 43.5%;
    left: 6%;
}

.redMid {
    position: absolute;
    top: 56.5%;
    left: 6%;
}

.redAD {
    position: absolute;
    top: 70%;
    left: 6%;
}

.redSup {
    position: absolute;
    top: 83.5%;
    left: 6%;
}

.blueTop {
    position: absolute;
    top: 29%;
    right: 8%;
}

.blueJG {
    position: absolute;
    top: 43.5%;
    right: 8%;
}

.blueMid {
    position: absolute;
    top: 56.5%;
    right: 8%;
}

.blueAD {
    position: absolute;
    top: 70%;
    right: 8%;
}

.blueSup {
    position: absolute;
    top: 83.5%;
    right: 8%;
}

.rKills {
    position: absolute;
    top: 93%;
    left: 7.5%;
}

.rDragons {
    position: absolute;
    top: 98%;
    left: 7.5%;
}

.rHeralds {
    position: absolute;
    top: 103%;
    left: 7.5%;
}

.rTowers {
    position: absolute;
    top: 108%;
    left: 7.5%;
}

html, body {
        overscroll-behavior: none;
    }

.lolbutton {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 1;
    display: block;
    left: 30%;
    width: 40%;
    top: 50%;
    height: 20%;
}

.result {
    text-align: center;
    font-size: 30px;
    position: absolute;
    top: 52%;
    left: 30%;
    color: aliceblue;
    z-index: 2;
    width: 40%;
}